@import "bootstrap-sprockets";
@import "bootstrap";


#main-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.devise-container {
  width: 345px;
  padding-left: 15px;
}

.product-block {
  width: 750px;
}

.btn {
  text-decoration: none;
}

body {
  background: #f2f2f2;
}

th {
  background-color: #0d91bf;
  color: black;
}

td {
  background-color: #808080;
  color: black;
}